/* ================Gallery banner======================== */
#gallery-banner {
    background-image: var(--portrait-bg-img);
}

#gallery-banner::after {
    background: var(--portrait-main-overlay);
}
#gallery {
    background: var(--portrait-gradient);
}